<div class="mobile-img">
  <img src="assets/svg/mobile.svg"/>
</div>

<section>
  <div class="app-logo" style="position: fixed; bottom:10px; right:10px;">
    <img src="../assets/svg/app-logo.svg"/>
  </div>
  <div class="body">
    <img class="img" src="../assets/svg/image.svg"/>
    <div class="B-inner">
      <div class="txt">
        <div class="B-title">포근한 공간, 따뜻한 삶</div>
        <div class="S-title">당신의 집을 포근함으로 가득 채워보세요.<br> 우리의 인테리어 플랫폼은 아늑하고 편안한 공간을 만들어줄 다양한 아이디어와 제품을 제공합니다.</div>
      </div>
      <div style="display: flex; align-items: center; gap:20px;">
        <div class="btn">가입하기</div>
        <div class="btn-login" >로그인</div>
      </div>

    </div>
  </div>

</section>
